<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
               
    <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    {{!-- to render the partials i.e header --}}
    <div class="main-content">
            {{>header}}
            <p>Don't hesitate to take help</p>
    </div>
   
    {{>footer}}
</body>
</html>