<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get the your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
    </div>
    <p id="message-1"></p>
    <p id="message-2"></p>        
    {{>footer}}
        <script src="./js/app1.js"></script>


</body>
</html>