body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding:0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    color:  white;
    padding:16px 0;
    margin-top: 16px;
    border-top: 1px solid #eeeeee;
}
header{
        margin-top:16px;
        margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
    color: white;
}
header a{
    color: white;
    margin-right: 16px;
    text-decoration:none;

}
.portrait{
    width: 250px;
}

.main-content{
    flex-grow: 1;
     
}
input{
    border:1px solid #cccccc;
    padding:8px;
}

button{
    cursor: pointer;
    border:1px solid #888888;
    background: #888888;
    color: white;
    padding:8px;
}
body{
    background:black;
}
p{
    color: white;
}
